name: Integration Test

on:
  workflow_dispatch:

  schedule:
    - cron: '0 1 * * *'

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  int_test:
    name: Build for ${{ matrix.targetPlatform }} on version ${{ matrix.unityVersion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        unityVersion:
          - 2020.1.3f1
        targetPlatform:
          # - StandaloneOSX
          # - StandaloneWindows64
          - StandaloneLinux64
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Setup private access
        uses: coherence/action-go-mod-private@v1
        with:
          token: ${{ secrets.PIOT_TOKEN }}

      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Generate schema
        run: |
          git clone "https://github.com/coherence/protocol-code-generator.git"
          cd protocol-code-generator
          go get -u ./...
          go build -o ./ ./...
          ./coherence-protocol-code-generator generate --code csharp --ecs unity --schema ../Assets/coherence/coherence.schema > ../Assets/coherence/generated/schema.cs

      - name: Inject SDK dependencies
        uses: coherence/action-unity-inject-deps@master

      - uses: actions/cache@v1.1.0
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-

      - uses: webbertakken/unity-builder@v1.2
        with:
          customParameters: -nographics
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          allowDirtyBuild: true

  slack_notify:
    name: Slack Notification
    runs-on: ubuntu-latest
    needs: int_test
    if: always()
    steps:
      - uses: technote-space/workflow-conclusion-action@v1
      - uses: Ilshidur/action-slack@2.0.2
        if: env.WORKFLOW_CONCLUSION == 'failure'
        with:
          args: Build failed for https://github.com/${{ github.repository }}
